.alert__container {
  width: 25rem;
  height: 15rem;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.7rem 1.2rem;
  justify-content: space-between;
  background-color: var(--light-color);
  border-radius: 20px;
  position: absolute;
  top: 30%;
  left: 35%;
}

.alert__container svg {
  font-size: 6rem;
  color: rgb(58, 37, 246);
}
.alert__container h3 {
  color: rgb(58, 37, 246);
  font-size: 2rem;
}
.alert__container p {
  color: var(--primary-color);
}
.alert__container button {
  width: 100%;
  padding: 10px 30px;
  border-radius: 10px;
  color: var(--light-color);
  background-color: rgb(58, 37, 246);
  cursor: pointer;
}
