.blog__container {
  width: 100%;
  min-height: 100vh;
  padding: 5% 10%;
}
.blog__inputbox {
  width: 100%;
  display: grid;
  height: 4.3rem;
  grid-template-columns: 1fr 3rem;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid var(--color-primary-variant);
}

.blog__inputbox svg {
  font-size: 2rem;
}
.blog__inputbox input {
  width: 100%;
  padding: 20px 30px;
  border: 1px solid transparent;
  color: var(--color-primary);
  font-size: 1.2rem;
}

.blog__filter {
  width: 100%;
  display: flex;
  min-height: 4rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.blog__filter button {
  background-color: rgb(228, 228, 228);
}

.blog__wrapper {
  margin-top: 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.post {
  width: 100%;
  padding: 0.4rem 1.4rem;
  display: grid;
  grid-template-rows: 1fr 12rem;
}

.post__content {
  padding: 0.4rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.5rem;
}

.post__content .btn__container {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-around;
}

.btn__container .likes {
  display: flex;
  gap: 1.3rem;
}
.likes p {
  font-size: 1.2rem;
}

.likes svg {
  font-size: 1.6rem;
  margin-right: 6px;
}
.likes .red {
  color: red;
}

/*  Preview section  */

.preview__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.preview__container img {
  max-height: 70vh;
  width: 100%;
}

/*  Phone device  */
@media screen and (max-width: 600px) {
}
/*  Tab device  */
@media screen and (max-width: 768px) {
  .blog__container {
    padding: 2% 3%;
  }
}
/*  Mid device  */
@media screen and (max-width: 1000px) {
  .blog__container {
    padding: 1% 2%;
  }
  .blog__wrapper {
    grid-template-columns: 1fr;
  }
  .preview__container img {
    object-fit: contain;
  }
}
/*  Lg  device  */
@media screen and (max-width: 1200px) {
}
