*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  border: 0;
  outline: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #150050;
  --sec-color: #3f0071;
  --tert-color: #fb2576;
  --main-color: #000000;
  --light-color: #ffffff;

  --text-dark: #131516;
  --text-normal: #555f61;
  --text-light: #c1c7c9;
}

body {
  background-color: var(--main-color);
  width: 100%;
  min-height: 100vh;
  color: var(--light-color);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.btn {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  position: relative;
  transition: all 0.4s linear;
}
.btn:hover {
  transform: translateY(-8px);
}

.sm-btn {
  border: 1px solid var(--tert-color);
  color: var(--light-color);
  background-color: var(--tert-color);
}
